@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none;
  color: black; }

header {
  width: 100vw;
  height: fit-content;
  display: grid;
  grid-row: 1fr 1fr; }
  header .header-social-icons-section {
    width: 100%;
    height: fit-content;
    background-color: #1C1B22;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-end; }
    header .header-social-icons-section .icons a {
      margin-left: 40px; }
      header .header-social-icons-section .icons a img {
        width: 30px; }
  header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    padding: 10px 90px;
    align-items: center; }
    header nav .nav-logo-section a {
      font-size: 2.7rem; }
      header nav .nav-logo-section a span {
        color: #EE9B00; }
    header nav .nav-about-me-section {
      display: flex;
      justify-content: flex-end; }
      header nav .nav-about-me-section a {
        font-size: 2rem;
        color: #EE9B00; }

@media screen and (max-width: 490px) {
  header .header-social-icons-section {
    justify-content: center;
    padding: 10px; }
  header .header-social-icons-section .icons a img {
    width: 20px; }
  header nav {
    max-width: 445px;
    padding: 10px; }
  .body-for-principal-page main .hero h1 {
    font-size: 3rem; } }
