@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap");
.primary-button {
  padding: 0.8em 1.8em;
  border: 2px solid #EE9B00;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #EE9B00;
  cursor: pointer; }
  .primary-button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #EE9B00;
    transition: .5s ease;
    display: block;
    z-index: -1; }
  .primary-button:hover::before {
    width: 105%; }
  .primary-button:hover {
    color: #111; }

button:hover span {
  transform: translateX(5em); }

button:active {
  transform: scale(0.95); }

@keyframes fly-1 {
  from {
    transform: translateY(0.1em); }
  to {
    transform: translateY(-0.1em); } }

footer {
  width: 100vw;
  height: fit-content;
  text-align: center;
  padding: 25px 0;
  color: white;
  background-color: #1C1B22;
  font-size: 1.5rem;
  border-top: 20px solid #EE9B00; }
  footer p span {
    color: #EE9B00; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none;
  color: black; }

header {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-row: 1fr 1fr; }
  header .header-social-icons-section {
    width: 100%;
    height: fit-content;
    background-color: #1C1B22;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-end; }
    header .header-social-icons-section .icons a {
      margin-left: 40px; }
      header .header-social-icons-section .icons a img {
        width: 30px; }
  header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    padding: 10px 90px;
    align-items: center;
    height: fit-content;
    background-color: white; }
    header nav .nav-logo-section a {
      font-size: 2.7rem; }
      header nav .nav-logo-section a span {
        color: #EE9B00; }
    header nav .nav-about-me-section {
      display: flex;
      justify-content: flex-end; }
      header nav .nav-about-me-section a {
        font-size: 2rem;
        color: #EE9B00; }

.hero {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 100px;
  background-color: #E3E7ED;
  width: 100%;
  height: fit-content;
  align-items: center; }
  .hero .hero-left-side p {
    font-size: 2.5rem;
    margin-bottom: 10px; }
  .hero .hero-left-side img {
    width: 550px;
    border-radius: 35px;
    cursor: pointer;
    transition: 1s ease-in-out; }
    .hero .hero-left-side img:hover {
      transform: scale(1.03);
      transition: 1s ease-in-out; }
  .hero .hero-right-side h1 {
    font-size: 5rem;
    margin-bottom: 20px; }
  .hero .hero-right-side p {
    max-width: 500px;
    font-size: 1.6rem;
    margin-bottom: 20px; }

.articles-section {
  margin: 55px 0px;
  width: 100%; }
  .articles-section h2 {
    font-size: 3rem;
    font-weight: lighter;
    text-align: center; }
    .articles-section h2 span {
      color: #EE9B00; }
  .articles-section .article-section_flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    border-top: 1px solid #EE9B00;
    padding-top: 20px; }
    .articles-section .article-section_flex .post-container {
      width: 400px;
      height: fit-content;
      margin: 30px; }
      .articles-section .article-section_flex .post-container img {
        width: 100%;
        border-radius: 25px;
        cursor: pointer;
        transition: 1s ease-in-out; }
        .articles-section .article-section_flex .post-container img:hover {
          transform: scale(1.03);
          transition: 1s ease-in-out; }
      .articles-section .article-section_flex .post-container .post-container_title {
        margin: 20px 0;
        font-size: 2rem;
        color: #EE9B00; }
      .articles-section .article-section_flex .post-container .post-container_txt {
        font-size: 1.5rem;
        margin-bottom: 40px;
        color: #1C1B22; }
      .articles-section .article-section_flex .post-container .button-article {
        letter-spacing: 2px;
        font-size: 1.2rem;
        color: #1C1B22;
        background-color: #EE9B00;
        border-radius: 25px;
        padding: 12px 20px; }
        .articles-section .article-section_flex .post-container .button-article:hover {
          background-color: #ee9b00d7; }

.topics-section {
  padding: 55px;
  color: white;
  background-color: #1C1B22; }
  .topics-section .topics-title {
    width: 80%;
    margin: 0 auto; }
    .topics-section .topics-title h2 {
      font-size: 3rem;
      font-weight: lighter;
      margin-bottom: 20px; }
      .topics-section .topics-title h2 span {
        color: #EE9B00; }
    .topics-section .topics-title p {
      font-size: 1.5rem;
      margin-bottom: 50px; }
  .topics-section .topics-grid {
    display: grid;
    width: 80%;
    margin: 0 auto;
    height: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px; }
    .topics-section .topics-grid div {
      width: 100%;
      height: 100%;
      padding: 25px;
      border-radius: 25px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: 1s ease-in-out;
      position: relative; }
      .topics-section .topics-grid div:hover {
        transform: scale(1.02); }
      .topics-section .topics-grid div p {
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
        color: #EE9B00;
        opacity: 0.8; }
      .topics-section .topics-grid div h3 {
        font-size: 3rem;
        letter-spacing: px; }
      .topics-section .topics-grid div .button-topics-box {
        position: absolute;
        bottom: 30px; }
        .topics-section .topics-grid div .button-topics-box button {
          width: 100px;
          height: 30px;
          background-color: white;
          color: #1C1B22;
          border: none;
          border-radius: 5px;
          font-size: 1.5rem;
          letter-spacing: 1px;
          transition: 1s ease-in-out;
          cursor: pointer; }
          .topics-section .topics-grid div .button-topics-box button:hover {
            background-color: #EE9B00;
            color: white;
            transition: 0.8s ease-in-out; }
    .topics-section .topics-grid .topics-box-1 {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/topics-1.jpg); }
    .topics-section .topics-grid .topics-box-2 {
      grid-column: 3 / 4;
      grid-row: 1 / 4;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/topics-2.jpg); }
    .topics-section .topics-grid .topics-box-3 {
      grid-column: 4 / 5;
      grid-row: 1 / 4;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/topics-3.jpg); }
    .topics-section .topics-grid .topics-box-4 {
      grid-column: 1 / 2;
      grid-row: 3 / 6;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/topics-4.jpg); }
    .topics-section .topics-grid .topics-box-5 {
      grid-column: 2 / 3;
      grid-row: 3 / 6;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/topics-5.jpg); }
    .topics-section .topics-grid .topics-box-6 {
      grid-column: 3 / 6;
      grid-row: 4 / 6;
      background-color: #8f6b34;
      text-align: end;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/topics-6.jpg); }
      .topics-section .topics-grid .topics-box-6 a {
        right: 30px; }

.newsLetter-section {
  width: 100%;
  text-align: center;
  padding: 55px; }
  .newsLetter-section .newsLetter-txt h2 {
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 20px; }
    .newsLetter-section .newsLetter-txt h2 span {
      color: #EE9B00; }
  .newsLetter-section .newsLetter-txt p {
    font-size: 1.5rem;
    margin-bottom: 50px; }
  .newsLetter-section .newsLetter-form {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    border-radius: 20px;
    padding: 5px;
    margin: 0 auto;
    border: 1px solid #1C1B22; }
    .newsLetter-section .newsLetter-form input {
      border: none;
      width: 100%;
      font-size: 1.5rem;
      outline: none;
      text-align: center; }
    .newsLetter-section .newsLetter-form button {
      font-family: inherit;
      font-size: 1.8rem;
      background: #EE9B00;
      color: white;
      padding: 0.7em 1em;
      padding-left: 0.9em;
      display: flex;
      align-items: center;
      border: none;
      border-radius: 16px;
      overflow: hidden;
      transition: all 0.2s;
      cursor: pointer; }
      .newsLetter-section .newsLetter-form button span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out; }
      .newsLetter-section .newsLetter-form button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out; }
      .newsLetter-section .newsLetter-form button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate; }
      .newsLetter-section .newsLetter-form button:hover svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1); }
      .newsLetter-section .newsLetter-form button:hover span {
        transform: translateX(5em); }
      .newsLetter-section .newsLetter-form button:active {
        transform: scale(0.95); }

@keyframes fly-1 {
  from {
    transform: translateY(0.1em); }
  to {
    transform: translateY(-0.1em); } }

footer {
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 25px;
  color: white;
  background-color: #1C1B22;
  font-size: 2rem;
  border-top: 20px solid #EE9B00; }
  footer p span {
    color: #EE9B00; }

@media screen and (max-width: 1300px) {
  .hero .hero-left-side {
    min-width: 300px;
    margin-bottom: 25px; }
    .hero .hero-left-side img {
      width: 100%; }
  .hero .hero-right-side {
    text-align: center; }
    .hero .hero-right-side h1 {
      font-size: 3.5rem;
      text-align: center;
      text-transform: uppercase; }
  .topics-section {
    width: 100%;
    height: 100%; }
    .topics-section .topics-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0; }
      .topics-section .topics-grid div {
        width: 40%;
        height: 60%;
        min-width: 200px;
        max-width: 400px;
        min-height: 250px; }
        .topics-section .topics-grid div h3 {
          font-size: 2em; }
        .topics-section .topics-grid div a {
          right: 30px;
          top: 50%; }
      .topics-section .topics-grid .topics-box-6 {
        text-align: start; } }

@media screen and (max-width: 1100px) {
  .topics-section {
    text-align: center; }
    .topics-section .topics-grid div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .topics-section .topics-grid div h3 {
        display: none; }
      .topics-section .topics-grid div .button-topics-box {
        position: static; } }

@media screen and (max-width: 490px) {
  header .header-social-icons-section {
    justify-content: center;
    padding: 10px; }
  header .header-social-icons-section .icons a img {
    width: 20px; }
  header nav {
    max-width: 445px;
    padding: 10px; }
  .body-for-principal-page main .hero h1 {
    font-size: 3rem; } }
